<!DOCTYPE html>
<html lang="fa">
<%- include('head') %>
<body>
<%- include('header') %>
    <main>
        <section class="posts">
            <% posts.forEach(post => { %>
                <a href="/posts/<%= post.slug %>" class="post">
                    
                    <img class="post-image" src="images/posts/<%= post.imageCover %>" alt="تصویر پست 1">
                    <h2><%= post.title %></h2>
                    <div class="post-meta">
                        <span><%= post.createdAt.toLocaleString('en-us',{month:'long',year:'numeric'}) %></span>
                        <span><%= post.writer.name  %></span>
                    </div>                
                </a>
                
            <% }) %>

            <!-- پست‌های بیشتر می‌تواند به همین شکل اضافه شود -->
        </section>
    </main>
    <footer>
        <p>&copy; 2024 بلاگ من. تمامی حقوق محفوظ است.</p>
    </footer>

    
</body>
<%- include('scripts') %>
</html>
